*
!detector/
!detector/**
detector/test.py
detector/__pycache__
!.gitignore
!test/
!test/**
!assets/
!assets/**
!config
!config/**
!frontend-react
!frontend-react/**
!scripts
!scripts/**
!input
!input/**
!README.md
!setup.py
!data/
!data/**
!output/
!output/**
!.gitattributes