body {
  margin: 0
}

.frame {
  background-image: url("../public/background.jpg");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgb(27, 27, 27);
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.input {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.inputBar {
  border-radius: 5px;
  border-color: gray;
  border-width: 1px;
  height: 25px;
}
